@model DTO.Task

<div class="card-body">
    <h4 class="card-title"><i class="fas fa-file-invoice"></i> @Model.Title</h4>
    <h6 class="card-subtitle mb-2 text-muted"><label class="label label-default">@Model.TaskType.Title</label></h6>
    <p class="card-text">Created By: @Model.UserInfo1.UserName</p>
    <p class="card-text">Deadline: @Model.To</p>
    <a href="#" class="card-link">Card link</a>
</div>