@model DTO.ServiceOrganisation

<form id="formSetRole" action="@Url.Action("","")" method="post"></form>
<div id="organisationRoleModal" data-backdrop="true" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Roles of Organisation</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" onclick="$('#organisationRoleModal').modal('hide')">Save</button>
                    <button type="button" class="btn btn-default" onclick="$('#organisationRoleModal').modal('hide')">Cancel</button>
                </div>
            </div>
            <div class="modal-body ">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input form="formSetRole" type="checkbox" name="Role" value="Funder" />
                        <label>
                            Funder
                        </label>
                    </li>
                    <li class="list-group-item">
                        <input form="formSetRole" type="checkbox" name="Role"  value="Lead" />
                        <label>
                            Lead
                        </label>
                    </li>
                    <li class="list-group-item">
                        <input form="formSetRole" type="checkbox" style="margin-right:1%"  name="Role" value="Delivery" />
                        <label>
                            Delivery
                        </label>
                    </li>
                    <li class="list-group-item">
                        <input form="formSetRole" type="checkbox" style="margin-right:1%" name="Role" value="Auditor" />
                        <label>
                            Auditor
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
