@model IEnumerable<DTO.ServiceOrganisation>

<form id="formSetPremisesToService" action="@Url.Action("","")" method="post"></form>
<div id="setPremisesToServiceModal" data-backdrop="true" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Associate new Premise</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" onclick="$('#setPremisesToServiceModal').modal('hide')">Save</button>
                    <button type="button" class="btn btn-default" onclick="$('#setPremisesToServiceModal').modal('hide')">Cancel</button>
                </div>
            </div>
            <div class="modal-body ">
                <table class="UseDataTables table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Service Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Service Type
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Is Active?
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" data-target="#projectCodeModal">
                            <td>
                                <a class="aHover">1</a>
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="projectCodeModal" data-backdrop="true" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Associate new Service</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" onclick="$('#projectCodeModal').modal('hide')">Select</button>
                    <button type="button" class="btn btn-default" onclick="$('#projectCodeModal').modal('hide')">Cancel</button>
                </div>
            </div>
            <div class="modal-body ">
                <div class="form-group">
                    <label>Project Code</label>
                    <input class="form-control" type="text" form="formSetPremisesToService" name="ProjectCode" value="" />
                </div>
            </div>
        </div>
    </div>
</div>