@model DTO.Directorate

<form action='@Url.Action("","")' method="post" id="formBUDirectoratetUpdate">@Html.AntiForgeryToken()</form>
<form action='@Url.Action("","")' method="post" id="formDepartment">@Html.AntiForgeryToken()</form>
<div id="buDirectorateUpdateModal"  class="modal fade" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#buDirectorateUpdateModal').modal('hide')" >&times;</button>
                <h4 class="modal-title">Business Unit/Directorate Details</h4>
                <div class="pull-right">
                    <a href="" class="btn btn-primary">In-Active</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a href=""  onclick="$('#buDirectorateUpdateModal').modal('hide')" class="btn btn-default">Cancel</a>
                </div>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
                    <li><a data-toggle="tab" href="#department">Department</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <br />
                                    <label for="DirectorateName">BU/Directorate Name</label><span style="color:red">*</span><br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="DirectorateName" id="DirectorateName" class="form-control" />
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="ShortDescription">BU/Directorate Short Description</label><br />
                                    <textarea form="formBUDirectoratetUpdate" style="width:100%" name="ShortDescription" id="ShortDescription" class="form-control"></textarea>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="ContactId">Lead Contact</label><br />
                                    <input form="formBUDirectoratetUpdate" type="text" name="ContactName" readonly id="ContactName" class="form-control" />
                                    <input form="formBUDirectoratetUpdate" type="hidden" name="ContactId"  id="ContactId" />
                                    <a class="aHover pull-right" id="ContactIdLookUp" style="margin-top:5px">Lookup</a>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label><input form="formBUDirectoratetUpdate" type="checkbox" id="coppyAddressFromOrganisation" onchange="coppyAddressFromOrganisation(this)" /> Copy Address from Organisation</label>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="AddressLine1">Address Line 1</label><span style="color:red">*</span>
                                    <br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="AddressLine1" id="AddressLine1" class="form-control" />
                                </div>
                                <br/>
                                <div class="form-inline">
                                    <label for="AddressLine2">Address Line 2</label>
                                    <br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="AddressLine2" id="AddressLine1" class="form-control" />
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="AddressLine3">Address Line 3</label>
                                    <br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="AddressLine3" id="AddressLine1" class="form-control" />
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="PostCode">PostCode</label><span style="color:red">*</span><br />
                                    <input form="formBUDirectoratetUpdate"  type="text" name="PostCode" id="PostCode" class="form-control" style="width:80% !important" />
                                    <a class="aHover pull-right" id="PostCode" style="margin-top:5px">Lookup</a>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <label for="Town">City/Town</label><br />
                                    <input form="formBUDirectoratetUpdate" type="text" style="width:100%" name="Town" id="Town" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="County">County</label><br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="County" id="County" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="Country">Country</label><br />
                                    <select form="formBUDirectoratetUpdate" style="width:100%" id="Country" name="Country" class="form-control">
                                        <option>
                                            1
                                        </option>
                                        <option>
                                            2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <div class="form-inline">
                                    <label for="TypeOfBussinessId">Type Of Bussiness</label><span style="color:red">*</span><br />
                                    <input form="formBUDirectoratetUpdate" type="text" name="TypeOfBussinessName" required readonly id="TypeOfBussinessName" class="form-control" style="width:90% !important" />
                                    <input form="formBUDirectoratetUpdate" type="text" style="display:none" value="" name="TypeOfBussinessId" />
                                    <a class="aHover pull-right" id="TypeOfBussinessId" style="margin-top:5px">Lookup</a>
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="SICCode">SIC Code</label><br />
                                    <input form="formBUDirectoratetUpdate" type="text" readonly id="SICCode" class="form-control" style="width:80% !important" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="FullDescription">Organisation Full Description</label><br />
                                    <textarea form="formBUDirectoratetUpdate" style="height:110px; width:100%"  name="FullDescription" id="ShortDescription" class="form-control"></textarea>
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="PhoneNumber">Phone Number</label><br />
                                    <input form="formBUDirectoratetUpdate" type="text" style="width:100%" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="Fax">Fax</label>
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="Fax" id="Fax" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="Email">Email</label><br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="email" name="Email" id="Email" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="WebAddress">Web Address</label><br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="WebAddress" id="WebAddress" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="CharityNumber">Charity Number</label><br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="CharityNumber" id="CharityNumber" class="form-control" />
                                </div>
                                <br />

                                <div class="form-inline">
                                    <label for="CompanyNumber">Company Number</label><br />
                                    <input form="formBUDirectoratetUpdate" style="width:100%" type="text" name="CompanyNumber" id="CompanyNumber" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade container" style="width:100% !important" id="department">
                        <h4>Departments</h4>
                        <hr />
                        <a class="aHover">All |</a>
                        <a class="aHover"><b>0 - 9 |</b></a>
                        <a class="aHover"><b>A B C D E |</b></a>
                        <a class="aHover"><b>F G H I J |</b></a>
                        <a class="aHover"><b>K L M N |</b></a>
                        <a class="aHover"><b>O P Q R |</b></a>
                        <a class="aHover"><b>S T U V |</b></a>
                        <a class="aHover"><b>W X Y Z </b></a>
                        <div class="pull-right">
                            <input type="button" class="btn btn-success" data-toggle="modal" data-target="#departmentModal" value="Create" />
                        </div>
                        <table class="UseDataTables table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Department Name
                                    </th>
                                    <th>
                                        Office Address Line 1
                                    </th>
                                    <th>
                                        Postcode
                                    </th>
                                    <th>
                                        Contact
                                    </th>
                                    <th>
                                        Is Active
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-toggle="modal" data-target="#departmentUpdateModal">
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="departmentModal" data-backdrop="true" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Department</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" onclick="$('#departmentModal').modal('hide')">Save</button>
                    <button type="button" class="btn btn-default" onclick="$('#departmentModal').modal('hide')">Cancel</button>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <br />
                    <div class="form-inline">
                        <label for="DepartmentName">Department Name</label><span style="color:red">*</span><br />
                        <input form="formDepartment" style="width:100%" type="text" name="DepartmentName" id="DepartmentName" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="ShortDescription">Department Short Description</label>
                        <br />
                        <textarea form="formDepartment" style="width:100%" name="ShortDescription" id="ShortDescription" class="form-control"></textarea>
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="ContactId">Lead Contact</label><br />
                        <input form="formDepartment" type="text" name="ContactName" style="width:80%" readonly id="ContactName" class="form-control" />
                        <input form="formDepartment" type="hidden" name="ContactId" id="ContactId"/>
                        <a class="aHover pull-right" id="ContactIdLookup" style="margin-top:5px">Lookup</a>
                    </div>
                    <br />
                    <div class="form-inline">
                        <label>
                            Copy Address from Organisation
                            <br />
                            <br />
                            <input type="radio" value="Organisation" />Organisation
                            <input type="radio" value="Parent" />Parent
                        </label>
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="AddressLine1">Address Line 1</label><span style="color:red">*</span><br />
                        <input form="formDepartment" style="width:100%" type="text" name="AddressLine1" id="AddressLine1" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="AddressLine2">Address Line 2</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="AddressLine2" id="AddressLine2" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="AddressLine3">Address Line 3</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="AddressLine3" id="AddressLine3" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="PostCode">PostCode</label><span style="color:red">*</span><br />
                        <input form="formDepartment"  type="text" name="PostCode" id="PostCode" class="form-control" style="width:80% !important" />
                        <a class="aHover pull-right" id="PostCode" style="margin-top:5px">Lookup</a>
                    </div>
                    <br />
                    <div class="form-inline">
                        <label for="Town">City/Town</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="Town" id="Town" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="County">County</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="County" id="County" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="Country">Country</label><br />
                        <select form="formDepartment" style="width:100%" id="Country" name="Country" class="form-control">
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                        </select>
                    </div>
                    <br />
                </div>
                <div class="col-md-6">
                    <br />
                    <div class="form-inline">
                        <label for="TypeOfBussinessId">Type Of Bussiness</label><span style="color:red">*</span><br />
                        <input form="formDepartment" type="text" name="TypeOfBussinessName" required readonly id="TypeOfBussinessName" class="form-control" style="width:80% !important" />
                        <input form="formDepartment" type="text" style="display:none" value="" name="TypeOfBussinessId" />
                        <a class="aHover pull-right" id="TypeOfBussinessId" style="margin-top:5px">Lookup</a>
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="SICCode">SIC Code</label><br />
                        <input form="formDepartment" type="text" readonly id="SICCode" class="form-control" style="width:80% !important" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="FullDescription">Department Full Description</label><br />
                        <textarea  form="formDepartment" style="height:110px; width:100%" name="FullDescription" id="ShortDescription" class="form-control"></textarea>
                    </div>

                    <div class="form-inline">
                        <label for="PhoneNumber">Phone Number</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="Fax">Fax</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="Fax" id="Fax" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="Email">Email</label><br />
                        <input form="formDepartment" style="width:100%" type="email" name="Email" id="Email" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="WebAddress">Web Address</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="WebAddress" id="WebAddress" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="CharityNumber">Charity Number</label><br />
                        <input form="formDepartment" style="width:100%" type="text" name="CharityNumber" id="CharityNumber" class="form-control" />
                    </div>
                    <br />

                    <div class="form-inline">
                        <label for="CompanyNumber">Company Number</label><br />
                        <input form="formDepartment" type="text" name="CompanyNumber" id="CompanyNumber" class="form-control" />
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@*@foreach ()
{
    foreach lai cai table department
}*@
@{Html.RenderPartial("~/Views/Shared/_UpdateDepartment.cshtml"); }

@section scripts{
    <script>
        $(document).ready(function () {
            $("#formBUDirectoratetUpdate").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "DirectorateName": {
                        required: true
                    },
                    "AddressLine1": {
                        required: true
                    },
                    "PostCode": {
                        required: true
                    },
                    "TypeOfBussinessName": {
                        required: true,
                        minlength: 0
                    },
                },
                highlight: function (element) {
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).parent().removeClass('has-error');
                },
            });
            $("#formDepartment").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "DepartmentName": {
                        required: true
                    },
                    "ShortDescription": {
                        required: true
                    }
                },
                highlight: function (element) {
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).parent().removeClass('has-error');
                },
            });
        })
    </script>
}