@model DTO.VolunteerOpportunity

<form id="formUpdateVolunteering" action='@Url.Action(" "," ")' method="post"></form>

<div id="updateVolunteeringModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#facilitiesModal').modal('hide')">&times;</button>
                <h4 class="modal-title">Volunteering Details</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" onclick="$('#facilitiesModal').modal('hide')">Cancel</button>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <div class="form-inline">
                        <label for="VolunteerContact">Volunteer Contact</label><span style="color:red">*</span><br />
                        <input type="text" readonly name="VolunteerContactName" id="VolunteerContactName" class="form-control" style="width:80% !important" />
                        <input form="formUpdateVolunteering" type="hidden" name="VolunteerContact" id="VolunteerContact" />
                        <a class="aHover pull-right" id="VolunteerContactLookup" style="margin-top:5px">Lookup</a>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="VolunteerPurpose">Volunteer Purpose</label>
                        <textarea form="formUpdateVolunteering" style="height:110px" name="VolunteerPurpose" id="VolunteerPurpose" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Details">Volunteer Oppotunity Details</label>
                        <textarea form="formUpdateVolunteering" style="height:110px" name="Details" id="Details" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="StartDate">Start Date</label>
                        <input form="formUpdateVolunteering" type="text" name="StartDate" id="volunteeringStartDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="EndDate">End Date</label>
                        <input form="formUpdateVolunteering" type="text" name="EndDate" id="volunteeringEndDate" class="form-control" />
                        <span style="color:red" id="volunteeringEndDateError"></span>
                    </div>
                    <div class="form-group">
                        <label for="VolunteerNumber">Volunteer Nos</label>
                        <input form="formUpdateVolunteering" type="number" name="VolunteerNumber" id="VolunteerNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#formUpdateVolunteering").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "VolunteerContact": {
                    required: true
                },
                "VolunteerNumber": {
                    min: 0,
                    max: 9999
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('has-error');
            },
        });
        $("#volunteeringStartDate").datetimepicker({
            datepicker: false,
            format: 'H:i:s',
            sideBySide: true,
            step: 15
        });
        $("#volunteeringEndDate").datetimepicker({
            datepicker: false,
            format: 'H:i:s',
            sideBySide: true,
            step: 15
        });
    </script>
}